{% extends "base.html" %}

{% block content %}
    <h2>{{ room.name }}</h2>
    <div id="chat-log">
        {% for message in room.messages.all|dictsort:"created_at" %}
            <div class="chat">
                <div class="chat-message">{{ message.publisher }}: {{ message.content }}</div>
                <div class="chat-datetime">{{ message.created_at|date:"Y/m/d H:i" }}</div>
            </div>
        {% endfor %}
    </div>
    <input id="chat-message-input" type="text" size=""><br>
    <input id="chat-message-submit" type="button" value="Send">

    <script>
        const roomPublicid = "{{ room.public_id }}";

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomPublicid
            + '/'
        );

        const chatLog = document.querySelector('#chat-log');
        var scrollToBottom = () => {
            chatLog.scrollTop = chatLog.scrollHeight;
        };

        window.onload = function () {
            scrollToBottom();
        };

        chatSocket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            const chat = document.createElement("div");
            chat.className = "chat";
            const chatMessage = chat
                .appendChild(document.createElement("div"));
            chatMessage.textContent = data.publisher + ": " + data.message;
            chatMessage.className = "chat-message";
            const chatDatetime = chat
                .appendChild(document.createElement("div"));
            chatDatetime.textContent = data.createdAt;
            chatDatetime.className = "chat-datetime";
            chatLog.appendChild(chat);
            scrollToBottom();
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>

    <style>
        #chat-log {
            height: 400px;
            overflow-y: scroll;
            border: thick double;
            margin: 10px 0;
        }
        .chat {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: solid thin;
        }
        .chat-message {
            line-break: anywhere;
        }
        .chat-datetime {
            text-wrap: nowrap
        }
        #chat-message-input {
            width: 100%;
        }
    </style>
{% endblock %}
